<div class="flex flex-col min-[1024px]:flex-row  justify-between mb-[25px] min-[1024px]:mb-[16px]">

    <div class="order-1 min-[1024px]:order-2 flex items-center justify-between mb-[10px] min-[1024px]:mb-0">
        <!-- logo -->
        <div class="block min-[1024px]:hidden max-w-[190px]">
            <img src="logo.png" alt="Logo" />
        </div>
        <div class="flex items-center gap-x-[5px]">

            <!-- menu Button -->
            <div class="block min-[1024px]:hidden">
                <button (click)="toggleSidebar()"
                    class="w-[34px] h-[34px] group rounded-full cursor-pointer bg-white flex items-center justify-center shadow hover:bg-[#94c963] hover:text-white">
                    <!-- Power Icon (uses Heroicons or any SVG) -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-[18px] h-[18px] text-black group-hover:text-white"
                        height="24px" viewBox="0 -960 960 960" width="24px">
                        <path
                            d="M140-254.62v-59.99h680v59.99H140ZM140-450v-60h680v60H140Zm0-195.39v-59.99h680v59.99H140Z" />
                    </svg>
                </button>
            </div>

            <!-- Power Button -->
            <button
                class="w-[34px] h-[34px] group rounded-full cursor-pointer bg-white flex items-center justify-center shadow hover:bg-[#94c963] hover:text-white">
                <!-- Power Icon (uses Heroicons or any SVG) -->
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" class="w-[18px] h-[18px] text-black group-hover:text-white">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v9m6.364-6.364a9 9 0 11-12.728 0" />
                </svg>
            </button>

            <!-- Avatar -->
            <div class="h-[34px] w-[34px] overflow-hidden rounded-full shadow cursor-pointer">
                <img src="placeholder-image.png" alt="user" class="w-[100%] h-[100%] object-cover" />
            </div>

        </div>
    </div>


    <div class="order-2 min-[1024px]:order-1">
        <h1 class="mb-0 text-[17px] sm:text-[20px] lg:text-[24px] font-medium text-[#0070ba] leading-[1em]">{{ title$ | async }}
        </h1>
    </div>

</div>